<div class="home-container">
    <div class="header">
      <img src="assets/headshot.png" alt="Your Name" class="headshot" />
      <h1>Hello, I'm Damián Palomanes</h1>
      <h2>Senior Backend Software Engineer</h2>
    </div>
  
    <div class="intro">
        <p>
            With over 9 years of experience in the software development industry, I've had the opportunity to work with diverse technologies and contribute to projects ranging from e-commerce platforms to financial applications.
          </p>
          <p>
            My expertise lies in backend development, utilizing languages such as Java and frameworks like Spring and Hibernate. I'm also skilled in database management, cloud services, and containerization with technologies like Docker and Kubernetes.
          </p>
          <p>
            I'm always eager to learn and adapt to new technologies, and I'm committed to delivering high-quality solutions that make a difference. I enjoy collaborating with teams, sharing my knowledge, and learning from the experience of others.
          </p>
          <p>
            Feel free to explore my portfolio to get a better understanding of my work and skills. If you'd like to get in touch, please reach out through the contact form. I look forward to connecting with you!
          </p>
    </div>
  
    <div class="cta-buttons">
      <a routerLink="/portfolio" class="cta-btn">View My Portfolio</a>
      <a routerLink="/contact" class="cta-btn">Get in Touch</a>
    </div>
  </div>
  